body{
    font-family:"Noto Sans TC";
    height: 100vh;
    //為了解決 bootstrap Modal 開啟時會 padding-right
    padding-right: 0 !important;
}
p{
    color:rgba(0, 0, 0, 0.78);
}
/*通用樣式*/
.icon-size-xl{
    font-size: 54px;
}
.bg-primary-shallow{
    background-color: rgba(226, 186, 164, 0.2);
}
.line{
    height: 2px;
    width: 20%;
    margin-left: 40%;
}
.rounded-top-3{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.rounded-bottom-3{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/*通用樣式結尾*/
.title-bar {
    margin: 0;
    a{

    border-bottom: 2px solid transparent;
        color:#fff;
    &:hover{
        color: #F9E6A5;
        border-bottom: 2px solid #F9E6A5;
    }
    }

}

.header-search input{
    background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E%0A") no-repeat;
    background-position: 10px 7px;
}
.person-icons-wrap{
    position: relative;
    &::before{
        content: '';
        display: block;
        background: #fff;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    span{
        position: absolute;
        top: 1px;
        left: 8px;
    }
}

//bs5 下拉選單修改樣式
.dropdown-menu[data-bs-popper]{
    left: unset;
    right: 0;
}

//footer 預設顏色 之後要改
footer{
    background: #172A39;
    color: white;
    a{
        color: white;
    }
}
